{% include 'blocks/dataform_navigation.html' %}

  <div id="simple_search" class="search-block">
    <div class="container">
      <form action="{{prefix}}/results" target="_blank">
          <div class="row">
              <div class="dataform-subblock">
                  <div class="dataform-block-label row">
                      <label>Характеристики текста</label>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <label for="keywords" >Ключевые слова</label>
                        <input id="keywords" name="keywords" type="text" value="">
                        <div class="help-tip">
                            <p>This is the inline help tip! You can explain to your users what this section of your web app is about.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="genre" >Жанр</label>
                        <select class="genre-select" name="genre" id="genre" multiple>
                            <option>жанр 1</option>
                            <option>жанр 2</option>
                        </select>
                        <div class="help-tip">
                            <p>This is the inline help tip! You can explain to your users what this section of your web app is about.</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                    <label for="has_media" >Есть медиа</label>
                      <input id="has_media" name="has_media" type="checkbox">

                    </div>
                    <div class="col-md-2">
                      <label>Год</label>
                        <div class="row">
                            <input type="number" id="year_from" name="year_from" placeholder="с">
                        </div>
                       <div class="row">
                            <input type="number" id="year_to" name="year_to" placeholder="по">
                        </div>

                    </div>
                </div>
              </div>
          </div>


          <!-- <div class="row">
              <p>Год</p>
                <section class="range-slider">
                  <span class="rangeValues"></span>
                  <input value="20" min="0" max="100" step="1" type="range">
                  <input value="80" min="0" max="100" step="1" type="range">
                </section>
          </div>-->
          <div class="row">
              <div class="col-md-4 dataform-subblock">
                  <div class="row">
                      <label class="dataform-block-label">Данные об информанте</label>
                  </div>

                    <div class="row">

                      <div class="col-md-4">
                        <label for="gender">Пол</label><br>
                        <input type="radio" id="no_gender" name="gender" value="" checked>
                          <label for="no_gender">любой</label><br>
                        <input type="radio" id="male" name="gender" value="m">
                          <label for="male">мужской</label><br>
                        <input type="radio" id="female" name="gender" value="f">
                          <label for="female">женский</label><br>
                      </div>

                      <div>
                        <div class="col-md-8">
                            <label>Год рождения</label>
                            <div class="row">
                                <input type="number" id="birth_year_from" name="birth_year_from" placeholder="с">
                            </div>
                            <div class="row">
                                <input type="number" id="birth_year_to" name="birth_year_to" placeholder="по">
                            </div>
                        </div>
                      </div>

                    </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-7 dataform-subblock">
                  <div class="row">
                      <label class="dataform-block-label">Место сбора данных</label>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                        <label for="region">Область</label>
                        <select class="geo-select" name="region" id="region" onchange="_1sel_geo_text();" multiple></select>
                      </div>


                      <div class="col-md-4">
                        <label for="district">Район</label>
                        <select class="geo-select" name="district" id="district" onchange="_2sel_geo_text();" multiple></select>
                      </div>

                      <div class="col-md-4">
                        <label for="village">Населенный пункт</label>
                        <select class="geo-select" name="village" id="village" multiple></select>
                          <div class="help-tip">
                            <p>This is the inline help tip! You can explain to your users what this section of your web app is about.</p>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <div style="float: right; margin-top: 20px;">
              <input class="dataform-button" type="reset" name='reset' value='Очистить форму' >
              <input class="dataform-button" type="submit" name="submit" value="Поиск">
              <input class="dataform-button" type="submit" name="download" value="Скачать">
          </div>
      </form>
    </div>
  </div>

{% include 'blocks/dataform_scripts.html' %}