<nav class="navbar navbar-inverse" style="border-radius:0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="color: #FFFFFF;">Фольклорный архив</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/database">Поиск по базе</a></li>
      <li><a href="/search">Поиск по корпусу</a></li>
      <li><a href="/stats">Статистика</a></li>
      <li><a href="/help">Помощь</a></li>
      <li><a href="/about">О проекте</a></li>
      {% if current_user.is_authenticated %}
            <li><a href="/help_user" style="color: yellow;">Руководство</a></li>
            <li><a href="/dashboard" style="color: yellow;">Панель управления</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav" style="float:right">
      <li>
        <a href="/user" style="color: yellow;">{% if current_user.is_authenticated %} {{ current_user.name }} {% else %} Гость {% endif %}</a>
      </li>
      {% if current_user.is_authenticated %}
            <li><a href="/logout">Выйти</a></li>
      {% else %}
            <li><a href="/login">Войти</a></li>
            <li><a href="/signup">Зарегистрироваться</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
