<nav class="navbar navbar-inverse" style="border-radius:0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{prefix}}/" style="color: #FFFFFF;">Фольклорный архив</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{prefix}}/database">Поиск по базе</a></li>
      <li><a href="{{prefix}}/search">Поиск по корпусу</a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Дополнительно</a>
        <div class="dropdown-content">
          <a href="{{prefix}}/stats">Статистика</a>
          <a href='{{prefix}}/keywords'>Таблица ключевых слов</a>
          <a href='{{prefix}}/questionnaire'>Опросные листы</a>
          {% if current_user.is_authenticated %}
              <a href='{{prefix}}/collectors' style="background: #848484; color: yellow;">Таблица собирателей</a>
              <a href='{{prefix}}/informators' style="background: #848484; color: yellow;">Таблица информантов</a>
          {% endif %}
        </div>
      </li>
      <li><a href="{{prefix}}/help">Помощь</a></li>
      <li><a href="{{prefix}}/about">О проекте</a></li>
      {% if current_user.is_authenticated %}
            <li><a href="{{prefix}}/help_user" style="color: yellow;">Руководство</a></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" style="color: yellow;" >Управление</a>
              <div class="dropdown-content">
                <a href='{{prefix}}/add/collector'>Добавить собирателя</a>
                <a href='{{prefix}}/add/informator'>Добавить информанта</a>
                <a href='{{prefix}}/add/keyword'>Добавить ключевое слово</a>
                <a href='{{prefix}}/add/text'>Добавить текст</a>
              </div>
            </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav" style="float:right">
      <li>
        <a href="{{prefix}}/user" style="color: yellow;">{% if current_user.is_authenticated %} {{ current_user.name }} {% else %} Гость {% endif %}</a>
      </li>
      {% if current_user.is_authenticated %}
            <li><a href="{{prefix}}/logout">Выйти</a></li>
      {% else %}
            <li><a href="{{prefix}}/login">Войти</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
