<style>
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-inverse{
    background-color: #00b0ff;
    border-color: #00b0ff;
}

li.mainnav a.mainnav, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

</style>
<nav class="navbar navbar-inverse" style="border-radius:0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{prefix}}/" style="color: #FFFFFF;">Фольклорный архив</a>
    </div>
    <ul class="nav navbar-nav mainnav">
      <li class="mainnav"><a href="{{prefix}}/database">Поиск по архиву</a></li>
      <li class="mainnav"><a href="{{prefix}}/search">Поиск по корпусу</a></li>
      <li class="dropdown mainnav">
        <a href="javascript:void(0)" class="dropbtn">Дополнительно</a>
        <div class="dropdown-content">
          <a href="{{prefix}}/stats">Статистика</a>
          <a href='{{prefix}}/keywords'>Таблица ключевых слов</a>
          <a href='{{prefix}}/questionnaire'>Опросники</a>
          {% if current_user.is_authenticated %}
              <a href='{{prefix}}/collectors' style="background: #848484; color: yellow;">Таблица собирателей</a>
              <a href='{{prefix}}/informators' style="background: #848484; color: yellow;">Таблица информантов</a>
          {% endif %}
        </div>
      </li>
      <li class="mainnav"><a href="{{prefix}}/help">Помощь</a></li>
      <li class="mainnav"><a href="{{prefix}}/about">О проекте</a></li>
      {% if current_user.is_authenticated %}
            <li class="mainnav"><a href="{{prefix}}/help_user" style="color: yellow;">Руководство</a></li>
            <li class="dropdown mainnav">
              <a href="javascript:void(0)" class="dropbtn" style="color: yellow;" >Управление</a>
              <div class="dropdown-content">
                <a href='{{prefix}}/add/collector'>Добавить собирателя</a>
                <a href='{{prefix}}/add/informator'>Добавить информанта</a>
                <a href='{{prefix}}/add/keyword'>Добавить ключевое слово</a>
                <a href='{{prefix}}/add/text'>Добавить текст</a>
              </div>
            </li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav" style="float:right">
      <li class="mainnav">
        <a href="{{prefix}}/user" style="color: yellow;">{% if current_user.is_authenticated %} {{ current_user.name }} {% else %} Гость {% endif %}</a>
      </li>
      {% if current_user.is_authenticated %}
            <li class="mainnav"><a href="{{prefix}}/logout">Выйти</a></li>
      {% else %}
            <li class="mainnav"><a href="{{prefix}}/login">Войти</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
