<div class="questionnaire_title">
    <span> Программа: {{name}} {{full}}</span>
</div>
<table>
    <tr>
        <th> Вопрос </th>
        <th> Буква </th>
        <th> Тема </th>
        <th> Краткий </th>
        <th> Полный </th>
    </tr>
    {% for question in questions %}
    <tr>
        <td> {{question.question_num}} </td>
        <td> {{question.question_letter}} </td>
        <td> {{question.question_theme}} </td>
        <td> <i>{{question.question_text}}</i> </td>
        <td> {% if question.question_full %} {{question.question_full}} {% endif %}</td>
    </tr>
    {% endfor %}
</table>