<div class="questionnaire_title">
    <span> Программа: {{name}} {{full}}</span>
</div>
<table>
    <tr>
        <th> Вопрос </th>
        <th> Подвопрос </th>
        <th> Тема </th>
        <th> Краткий </th>
    </tr>
    {% for question in questions %}
        {% if question.question_text %}
            <tr>
                <td> {{question.question_num}} </td>
                <td> {{question.question_letter}} </td>
                <td> {{question.question_theme}} </td>
                <td> <i>{{question.question_text}}</i> </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>