<div class="row" style="margin: 50px"> <span class="questionnaire-title-page" style="font-size: 20px; color: #5E5857; font-weight: bold;"> {% if name %}{{name}} - {{full}}{% endif %}</span></div>
<table class="questionnaire-content">
    <tr>
        <th class="th-quest"> Вопрос </th>
        <th class="th-quest"> Подвопрос </th>
        <th class="th-quest"> Тема </th>
        <th class="th-quest"> Краткий </th>
    </tr>
    {% for question in questions %}
        {% if question.question_text %}
            <tr>
                <td> {{question.question_num}} </td>
                <td> {{question.question_letter}} </td>
                <td> {{question.question_theme}} </td>
                <td> <i>{{question.question_text}}</i> </td>
            </tr>
        {% endif %}
    {% endfor %}
</table>