.gallery-body{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.modal-dialog{
    width: 70%;
}

img {
  display: inline-flex;
  width: 100%;
  height: 100%;
  border: none
}

[data-object-fit='cover'] {
  object-fit: cover
}

.one-photo-div{
    height: 33vh;
    padding: 10px;
}

.one-photo-tags{
    padding: 10px;
}

.photo-tag{
    /*border: #696969 dashed 1px;*/
    color: #696969;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    /*margin: 20px 0;*/
}