{% extends 'base.html' %}
{% block title %} Добавить ключевое слово {% endblock %}
{% block content %}
<p>
	<form action="{{prefix}}/add/keyword" method="POST">
		<div class="submit col-md-10 left" style="margin-bottom: 10px; padding: 20px;">
    		<input class="save" type="submit" style="float: left;" value="Добавить">
  		</div>
	<div class="col-md-3 left">
	<table class="meta-text">
		<tr>
			<td class="text-feature">Прежний ID</td>
			<td><input type='text' id='old_id' name='old_id'></td>
		</tr>
		<tr>
			<td class="text-feature" >Слово</td>
			<td><input type='text' id='word' name='word' style="width: 400px"></td>
		</tr>
		<tr>
			<td class="text-feature">Комментарий</td>
			<td><textarea type='text' id='definition' name='definition' style="width: 400px"></textarea></td>
		</tr>
	</table>
	</div>
</form>
</p>

{% endblock %}