{% extends 'base.html' %}
{% block title %} Добавить вопрос {% endblock %}
{% block content %}

<p>
	<form action="{{prefix}}/text_added" method="POST">
		<div class="submit col-md-10 left" style="margin-bottom: 10px; padding: 20px;">
    		<input class="save" type="submit" style="float: left;" value="Добавить">
  		</div>
	<div class="col-md-3 left">
	<table class="meta-text">
		<tr>
			<td class="text-feature">Прежний ID</td>
			<td><input type='text' id='old_id' name='old_id'></td>
		</tr>
		<tr>
			<td class="text-feature">Код</td>
			<td><input type='text' id='code' name='code'></td>
		</tr>
		<tr>
			<td class="text-feature">Имя</td>
			<td><input type='text' id='name' name='name'></td>
		</tr>
	</table>
	</div>
</form>
</p>

{% endblock %}