<!DOCTYPE html>

<html lang="en">
<head>
  <title>{% block title %} {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <style>
.active {
background-color: #4CAF50;
}
.message{
  font-weight: bold;
  color: #03054D;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}
.dropdown {position: relative;display: inline-block;}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {display: block;}

</style>

    {% include 'blocks/mainnavbar.html' %}

    {% block content %}
    {% endblock %}
</body>
</html>