<!DOCTYPE html>

<html lang="en">
<head>
  <title>{% block title %} {% endblock %} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/archive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.tagsinput-revisited.css" />
    <script src="../static/js/jquery.tagsinput-revisited.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="../static/js/jquery.tagsinput-revisited.js"></script>
    <link rel="stylesheet" href="../static/css/jquery.tagsinput-revisited.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/archive.css">
</head>

<body>

    {% include 'blocks/mainnavbar.html' %}
    {% block content %}
    {% endblock %}
</body>
</html>