{% extends 'base.html' %}
{% block title %} Собиратели {% endblock %}
{% block content %}

<table>
	<tr>
		<th>ID</th>
		<th>Прежний ID</th>
		<th>Код</th>
		<th>Имя</th>
		<th>Редактировать</th>
	</tr>
	{% for collector in collectors %}
		<tr>
			<td> {{collector.id}} </td>
			<td> {% if collector.old_id %} {{collector.old_id}} {% endif %}</td>
			<td> {{collector.code}} </td>
			<td> {{collector.name}} </td>
			<td>
				<a href="{{prefix}}/edit/collector/{{collector.id}}" class="button" style="background-color: #008000;">Редактировать</a>
			</td>
		</tr>
	{% endfor %}
</table>

{% endblock %}