{% extends 'base.html' %}
{% block title %} Редактировать собирателя {% endblock %}

{% block content %}
<p>
	<form action="{{prefix}}/edit/keyword/{{keyword.id}}" method="POST">
		<div class="submit col-md-10 left" style="margin-bottom: 10px; padding: 20px;">
    		<input class="save" type="submit" name="submit" style="float: left;" value="Сохранить">
    		<input class="delete" type="submit" name="submit" style="float: right;" value="Удалить">
  		</div>
	<div class="col-md-3 left">
	<table class="meta-text">
		<tr>
			<td class="text-feature">ID</td>
			<td><input type='text' id='id' name='id' value="{{keyword.id}}" readonly=""></td>
		</tr>
		<tr>
			<td class="text-feature">Прежний ID</td>
			<td>
				{% if keyword.old_id %}
					<input type='text' id='old_id' name='old_id' value="{{keyword.old_id}}">
				{% else %}
					<input type='text' id='old_id' name='old_id' value=''>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td class="text-feature">Слово</td>
			<td><input type='text' id='word' name='word' value="{{keyword.word}}"></td>
		</tr>
		<tr>
			<td class="text-feature">Определение</td>
			<td>
				{% if keyword.definition %}
				<textarea id='definition' name='definition' value="{{keyword.definition}}" style="width:500px"></textarea>
				{% else %}
				<textarea id='definition' name='definition' value="" style="width:500px"></textarea>
				{% endif %}
			</td>
		</tr>
	</table>
	</div>
</form>
</p>

{% endblock %}