{% extends 'base.html' %}
{% block title %} Редактировать собирателя {% endblock %}

{% block content %}

    <p>
        <form action="{{prefix}}/edit/collector/{{person.id}}" method="POST">
            <div class="submit col-md-10 left" style="margin-bottom: 10px; padding: 20px;">
                <input class="save" type="submit" name="submit" style="float: left;" value="Сохранить">
                <input class="delete" type="submit" name="submit" style="float: right;" value="Удалить">
            </div>
        <div class="col-md-3 left">
        <table class="meta-text">
            <tr>
                <td class="text-feature">ID</td>
                <td><input type='text' id='id' name='id' value="{{person.id}}" readonly=""></td>
            </tr>
            <tr>
                <td class="text-feature">Прежний ID</td>
                <td>
                    {% if person.old_id %}
                        <input type='text' id='old_id' name='old_id' value="{{person.old_id}}">
                    {% else %}
                        <input type='text' id='old_id' name='old_id' value=''>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="text-feature">Код</td>
                <td><input type='text' id='code' name='code' value="{{person.code}}"></td>
            </tr>
            <tr>
                <td class="text-feature">Имя</td>
                <td><input type='text' id='name' name='name' value="{{person.name}}"></td>
            </tr>
        </table>
        </div>
    </form>
    </p>

{% endblock %}