{% extends 'base.html' %}
{% block title %} Помощь {% endblock %}
{% block content %}

    <div class="about-subtitle-darkgrey">Структура архива</div>
    <div class="main text">
        Архив включает две части - собственно архив и корпус лингвистический.
    </div>
    <div class="about-subtitle-darkgrey">Навигация</div>
    <div class="main text">
        <ul>
            <li>
                Верхняя панель навигации
                <br><img style="width: 100%" src="static/img/help/mainnavbar_guest_full.png" class="help img-swap" />
            </li>
            <li>
                Вкладка "Подробнее" (о дополнительных страницах см. ниже)
                <br><img style="width: 15%" src="static/img/help/more_guest.png" class="help img-swap" />
            </li>
            <li>
                Войти (для зарегистрированных пользователей)
                <br><img style="width: 40%" src="static/img/help/login.png" class="help img-swap" />
            </li>
        </ul>
    </div>

    <div class="about-subtitle-darkgrey">По каким параметрам можно искать?</div>
    <div class="main text">Поиск по архиву разделен на две части - простой поиск и поиск расширенный, который содержит
    больше различных настроек.
    </div>
    <div class="main text row">
        <div class="col-md-6">
            <b>Простой поиск</b>
            <ul>
                <li><a class="help" href="{{prefix}}/keywords">Ключевые слова</a> в режиме И/ИЛИ (одновременно все либо хотя бы одно из)</li>
                <li>Исключение ключевых слов - те слова, которых не должно быть в выдаче</li>
                <li>Жанр текста (для части текстов)</li>
                <li>Наличие медиа (по умолчанию - все, при выборе - только с медиа, т.е. фото или видео)</li>
                <li>Год записи текста</li>
                <li>Пол, год рождения информанта</li>
                <li>Место сбора данных. Можно выбрать несколько разных мест. По умолчанию - любое место записи</li>
            </ul>
        </div>
        <div class="col-md-6">
            <b>Расширенный поиск</b>
            <p>В дополнение к простому поиску:</p>
            <ul>
                <li>Опросник, вопрос, подвопрос - для текстов экспедиций, которые работают с <a class="help" href="{{prefix}}/questionnaire">опросниками</a></li>
                <li>Конкретный информант (по коду)</li>
                <li>Место рождения информанта (доступно не для всех)</li>
                <li>Место проживания информанта (может не совпадать с местом записи, например, если кто-то приехал в гости)</li>
            </ul>
        </div>
    </div>
    <div class="about-subtitle-darkgrey">Как использовать фильтры поиска?</div>
    <div class="main text">
        <ul>
            <li>
                <b>Поля ID, год</b>: номер/год, например, 1970
            </li>
            <li>
                <b>Ключевые слова</b>: начните вводить слово, в выпадающем списке появятся подсказки, из которых
                можно выбрать нужное.
                <div><img src="static/img/help/keywords_add.png" style="max-width: 300px"></div>
                Для того, чтобы убрать ненужное слово, нажмите на крестик на прямоугольнике слова.
                <div><img src="static/img/help/keywords_remove.png" style="max-width: 300px"></div>
            </li>
            <li>
                <b>Географическая информация</b>: выберите один или несколько вариантов. Если вы выбираете область,
                то обновляются имена районов, затем если конкретный район, то предлагаются населенные пункты.
                Для выбора нажмите на вариант. Он должен выделиться цветом. Для отмены нажмите еще раз, тогда
                выбор снимется и вариант снова станет белым. Для выбора нескольких вариантов таким же образом выберите
                те, которые вам интересны.
            </li>
            <li>
                <b>Опросники</b>: варианты выбираются так же, как и в географии. Для выбора нажмите на вариант
                (или несколько). Для снятия выбора нажмите еще раз.
            </li>
            <li>
                <b>Медиа</b>: для выбора текстов только с медиафайлами (фото или видео) отметьте галочку в этом пункте.
            </li>
        </ul>
    </div>
    <div class="about-subtitle-darkgrey">Результаты поиска</div>
    <div class="main text">
        <ul>
            <li>
                Таблица результатов поиска.
                <br><img style="width: 100%" src="static/img/help/archive_results.png" class="help img-swap" />
                В верхней части находится описание параметров поиска, затем указано число наиденных текстов и
                располагается навигация по страницам выдачи. В таблице текстов идентификатор текста, год, место
                сбора данных, указание на информанта (код, пол, год рождения). Далее информаци об опросниках и
                ключевых словах. В последней части начало текста. По ссылке "читать полностью" можно перейти на
                страницу данного текста.
            </li>
            <br>
            <li>
                Скачивание результатов выдачи. Для скачивания доступны два формата - простой текстовый и формат JSON
                (для удобства автоматической обработки).<br>
                <img style="max-width: 300px" src="static/img/help/download.png" class="help img-swap" />
            </li>
            <li>
                Текст: в левой части - основная информация о тексте (место записи, номер и т.д) и
                информация об информантах, вопросы, которые перед ними ставились и список ключевых слов. В конце есть
                обозначение, как можно ссылаться на этот текст (например, ФА ВШЭ 282, то есть Фольклорный архив ВШЭ
                текст с идентификатором 282).
                <br><img style="width: 100%" src="static/img/help/text.png" class="help img-swap" />
            </li>
            <li>
                Видео: видео находится под текстом, можно воспроизводить прямо на странице
            </li>
            <li>
                Фотографии: фотографии находятся после видео (или текста). Для того, чтобы увеличить изобрадение,
                нужно щелкнуть на него и оно откроется на новой странице в полном размере.
            </li>
        </ul>
    </div>
    <div class="about-subtitle-darkgrey">Дополнительные страницы</div>
    <div class="main text">
        Во вкладке "Дополнительно" есть ссылки на другие страницы.
        <br>
        <ul>
            <li>
                Опросники: страница с опросниками содержит вопросы, которые задавались в рамках экспедиций
                под руководством А.Б. Мороза. Для перехода к конкретному опроснику нужно нажать на один
                из номеров в верхней части страницы
                <br><img style="width: 75%" src="static/img/help/questionnaire.png" class="help img-swap" />
            </li>
            <li>
                Список ключевых слов: страница со списком всех ключевых слов. При нажатии на букву вверху можно
                попасть к списку слов на эту букву. В нижней левой части есть ссылка "наверх", чтобы попасть обратно
                в шапку страницы. При нажатии на слово в новой вкладке открывается список текстов, где есть
                такое ключевое слово.
                <br><img style="width: 100%" src="static/img/help/keywords_page.png" class="help img-swap" />
            </li>
        </ul>
    </div>
    <div class="about-subtitle-darkgrey">Галерея</div>
    <div class="main text">
        В архиве есть галерея, где собраны фотографии, сделанные во время экспедиций.
        <ul>
            <br>
            <li>
                Меню галереи. Вы можете выбрать фотографии по географическому признаку или по ключевых словам.
                <img src="static/img/help/gallery_menu.png" style="max-width: 100%">
            </li>
            <br>
            <li>
                Страница фотографий. Вы можете увеличить фотографию, нажав на нее. Увеличенная фотография появится
                во всплювающем окне. Закрыть его можно, нажав на любую область вне фотографии. Под фотографиями
                располагаются теги, нажав на которые можно попасть на страницу фотографий по этому тегу.
                <img src="static/img/help/gallery_page.png" style="max-width: 100%">
            </li>
        </ul>
    </div>
    <div class="about-subtitle-darkgrey">Полнотекстовый поиск</div>
    <div class="main text">
            В настоящее время работает полнотекстовый <a class="help" href="{{prefix}}/search">поиск</a>.
        <ul>
            <li>Поиск по точной форме</li>
            <li>Поиск по лемме</li>
        </ul>
        Для поиска наберите слово в одном из полей. Если вы хотите найти сочетание слов в предложении, то
        добавьте слово с помощью знака +. Для поиска нажмите Enter или кнопку Искать. В выдаче при нажатии на
        заголовок текста вы попадете на полный текст. При нажатии на стрелочки справа  показываемый контекст расширяется.
    </div>

{% endblock %}