{% extends 'base.html' %}
{% block title %} Помощь {% endblock %}
{% block content %}

<style>
div.main{
	margin-left: 200px;
	margin-top: 22px;
	width: 67%
}
.text{
	font-size: 16px;
}
.labels{
	font-size: 25px;
	font-weight: bold;
}
.sublabels{
	font-size: 20px;
	font-weight: bold;
}
</style>
<div class="main labels"> Структура архива </div>
<div class="main text">
	Архив включает две части - корпус как архив и корпус лингвистический. В обеих частях есть поиск по данным информантов,..
</div>

<div class="main labels"> Поиск </div>
<div class="main text">
	Поиск по архиву
	<ul>
		<li></li>
	</ul>
</div>

<div class="main labels"> Прочее </div>
<div class="main text">
	какой-то текст
</div>
{% endblock %}