{% extends 'base.html' %}
{% block title %} Помощь {% endblock %}
{% block content %}

<div class="main labels"> Структура архива </div>
<div class="main text">
	Архив включает две части - собственно архив и корпус лингвистический.
</div>
<div class="main labels"> Навигация </div>
<div class="main text">
	<ul>
		<li>
			Верхняя панель навигации
			<br><img style="width: 100%" src="static/img/help/mainnavbar_guest_full.png" class="help img-swap" />
		</li>
		<li>
			Вкладка "Подробнее" (о дополнительных страницах см. ниже)
			<br><img style="width: 15%" src="static/img/help/more_guest.png" class="help img-swap" />
		</li>
		<li>
			Войти (для зарегистрированных пользователей)
			<br><img style="width: 40%" src="static/img/help/login.png" class="help img-swap" />
		</li>
	</ul>
</div>

<div class="main labels"> Поиск </div>
<div class="main sublabels">Поиск по архиву</div>
<div class="main text">
	<ul>
		<li>
			<b>Характеристики текста</b>: ID текста, если вы ищете конкретный текст, с которым вы работали ранее
		</li>
		<li>
			<b>Год записи</b>: год записи (экспедиции)
		</li>
		<li>
			<b>Ключевые слова</b>:
			поиск по <a class="help" href="{{prefix}}/keywords">ключевым словам</a>, которые отражают содержание текста
		</li>
		<li>
			<b>Программа, вопрос, подвопрос</b>: поиск по <a class="help" href="{{prefix}}/questionnaire">опросникам</a>
		</li>
		<li>
			<b>Область, район, населенный пункт</b>: поиск по месту записи текста
		</li>
		<li>
			<b>Код информанта</b>:
			поиск по трехбуквенному коду, который шифрует информанта для анонимизации.
			Подробная информация скрыта от пользователей для защиты персональных данных.
		</li>
		<li>
			<b>Гендер</b>: кто рассказчик - мужчина или женщина
		</li>
		<li>
			<b>Год рождения</b>: год рождения информанта
		</li>
		<li>
			<b>Место жительства информанта</b>: обычно совпадает с местом записи текста.
			<b>Внимание!</b> Не у всех информантов имеется эта информация
		</li>
		<li>
			<b>Место рождения информанта</b>: данные о месте рождения.
			<b>Внимание!</b> Не у всех информантов имеется эта информация
		</li>
	</ul>
</div>
<div class="main sublabels">Как искать по архиву?</div>
<div class="main text">
	<ul>
		<li>
			<b>Поля ID, год</b>: номер/год, например, 1970ы
		</li>
		<li>
			<b>Ключевые слова, район и др.</b>: выбор нескольких вариантов.
			<ul>
				<li><b>полный список</b>: потянуть за правый нижний уголок
					<br><img style="width: 15%" src="static/img/help/expand_select.png" class="help img-swap" />
				</li>
				<li><b>выбрать несколько вариантов</b>: зажать клавишу ctrl и выбрать несколько пунктов -
					они станут выделенными (скорее всего, синим, зависит от браузера)
					<br><img style="width: 30%" src="static/img/help/multiple_choice.png" class="help img-swap" />
				</li>
				<li><b>убрать один из варианто</b>: зажать клавишу ctrl и нажать на вариант еще раз
				</li>
			</ul>
		</li>
		<li>
			нажать на поле и выбрать вариант (если нужен конкретный вариант) - если не выбран,
			при поиске не учитывается
			<img style="width: 20%" src="static/img/help/gender.png" class="help img-swap" />
		</li>
		<li>
			<b>Скачать и поиск</b>: когда вы задали параметры поиска, можно сразу скачать тексты,
			которые подходят под ваши параметры (не более 200 сразу) или нажать кнопку "поиск" и
			результаты откроются на соседней вкладке (вы можете вернуться на предыдущую и скачать)
			<br><img style="width: 20%" src="static/img/help/search_download.png" class="help img-swap" />
		</li>
	</ul>
</div>
<div class="main sublabels">Результаты поиска</div>
<div class="main text">
	<ul>
		<li>
			Таблица результатов поиска
			<br><img style="width: 100%" src="static/img/help/archive_results.png" class="help img-swap" />
		</li>
		<li>
			Текст: в таблицах в верхней части - основная информация о тексте (место записи, номер и т.д) и
			информация об информантах, вопросы, которые перед ними ставились и список ключевых слов
			<br><img style="width: 100%" src="static/img/help/text.png" class="help img-swap" />
		</li>
		<li>
			Видео: видео находится под текстом, можно воспроизводить прямо на странице
		</li>
		<li>
			Фотографии: фотографии находятся после видео (или текста). Для того, чтобы увеличить изобрадение,
			нужно щелкнуть на него и оно откроется на новой странице
		</li>
	</ul>
</div>
<div class="main sublabels">Дополнительные страницы</div>
<div class="main text">
	Во вкладке "Дополнительно" есть ссылки на другие страницы

	<ul>
		<li>
			Опросники: страница с опросниками содержит вопросы, которые задавались в рамках экспедиций
			под руководством А.Б. Мороза. Для перехода к конкретному опроснику нужно нажать на один
			из номеров в верхней части страницы
			<br><img style="width: 75%" src="static/img/help/questionnaire.png" class="help img-swap" />
		</li>
		<li>
			Список ключевых слов: страница со списком всех ключевых слов
			<br><img style="width: 40%" src="static/img/help/keywords_page.png" class="help img-swap" />
		</li>
	</ul>
</div>
<div class="main sublabels">Поиск по корпусу</div>
<div class="main text">
		В настоящее время работает полнотекстовый <a class="help" href="{{prefix}}/search">поиск</a> и поиск по грамматической информации.
	Позже будет настроено больше параметров. Инструкция по работе с корпусом есть на странице поиска по корпусу.

	<ul>
		<li>Поиск по точной форме</li>
		<li>Поиск по лемме</li>
	</ul>
</div>

{% endblock %}