{% extends 'base.html' %}
{% block title %} Ключевые слова {% endblock %}
{% block content %}

<div class="information-page">
    <div class="alphabet-row" id="alphabet">
        {% for letter in lettered %}
            <a class="keywords-alphabet" href="keywords#{{ letter }}">{{ letter }}</a>
        {% endfor %}
    </div>
    {% for letter in lettered %}
        <div class="keyword-letter" id="{{ letter }}">{{letter}}</div>
        <table class="keyword-table">
            {% for wordbatch in lettered[letter]|batch(5) %}
                <tr>
                    {% for word in wordbatch %}
                        <td style="width: 20%"> {{word.word}} </td>
                        {% if current_user.is_authenticated %}
                        <td style="width: 20%">
                            <a href="{{prefix}}/edit/keyword/{{word.id}}" class="button" style="background-color: #008000;">Редактировать</a>
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
	{% endfor %}
</div>
    <div class="up-button"> <a class="keywords-alphabet" href="keywords#alphabet">Наверх</a></div>

{% endblock %}