{% extends 'base.html' %}
{% block title %} Ключевые слова {% endblock %}
{% block content %}

<div class="information-page">
    <div class="alphabet-row" id="alphabet">
        {% for letter in ordered_letters %}
            <a class="keywords-alphabet" href="keywords#{{ letter }}">{{ letter }}</a>
        {% endfor %}
    </div>
    {% for letter in ordered_letters %}
        <div class="keyword-letter" id="{{ letter }}">{{letter}}</div>
        <table class="keyword-table">
            {% for wordbatch in lettered[letter]|batch(5) %}
                <tr>
                    {% for word in wordbatch %}
                        <td style="width: 20%;"> <a style="color: #696969" target="_blank" href="/results?keywords={{ word.word }}">{{word.word}}</a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
	{% endfor %}
</div>
    <div class="up-button"> <a class="keywords-alphabet" href="keywords#alphabet">Наверх</a></div>

{% endblock %}