{% extends 'base.html' %}
{% block title %} Вход {% endblock %}
{% block content %}

<div style="margin: auto; width: 500px; margin-top: 50px;">
  <form action="{{prefix}}/login", method="POST">
    <label for="username">Логин</label>
    <input class="login-input" type="text" id="username" name="username" placeholder="avivanov">
    <label for="password">Пароль</label>
    <input class="login-input" type="password" id="password" name="password" placeholder="password">
  
    <input class="login-input" type="submit" value="Войти">
  </form>
</div>
<div class="message"> {{message}}</div>

{% endblock %}