{% extends 'base.html' %}
{% block title %} Опросники {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h4>Опросники</h4>
        <div></div>
    </div>
    <div class="col-md-8 questionnaire_list">
        <table>
            {% for row in question_list|batch(3) %}
                <tr>
                    {% for i in row %}
                        <td><a href="{{prefix}}/questionnaire?qid={{i.question_list}}">{{i.question_list}} - {{ i.question_list_name }}</a></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% include 'blocks/one_questionnaire.html' %}


{% endblock %}