<html lang="{{ locale }}">
    {% extends 'base.html' %}
    {% block title %} Поиск по базе {% endblock %}
    {% block content %}
    <!--<link rel="stylesheet" type="text/css" href="static/bootstrap-3.3.7-dist/css/bootstrap.min.css">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type='text/javascript' src='static/bootstrap-3.3.7-dist/js/bootstrap.min.js'></script>
        <link rel="stylesheet" type="text/css" href="static/css/search.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script type='text/javascript' src='static/js/result_parser.js'></script>
        <script type='text/javascript' src='static/js/json_loaders.js'></script>
        <script type='text/javascript' src='static/js/query_share_load.js'></script>
        <script type='text/javascript'>
        var max_request_time={{ max_request_time }};
        var moreFieldsCaption = "Больше";
        var lessFieldsCaption = "Меньше";
        var addDistCaption = "Добавить расстояние";
        var removeWordCaption = "Удалить слово";
        var distToWordCaption = "Расстояние до слова";
        var fromCaption = "от";
        var toCaption = "до";
        var selectGrammTagsCaption = "Выберите комбинацию тегов";
        var selectGlossCaption = "Выберите глоссы";
        var forTheQueryCaption = "Запрос";
        var nothingFoundCaption = "Ничего не найдено";
        </script>
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet"> -->
        {% if media %}
        <link href="http://vjs.zencdn.net/5.19.2/video-js.css" rel="stylesheet">
        <link href="static/css/videojs.markers.min.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/5.19.2/video.js"></script>
        <script src="static/js/videojs-markers.js"></script>
        {% if youtube %}
        <script src="static/js/videojs-youtube.js"></script>
        {% endif %}
        {% endif %}
        </head>
        <body>
        <style>
        .tab-pane{
        background: none !important;}
        .btn-primary{
            color: #fff;
            background-color: #008000;
            border: none;
        }
        .btn-info{
            color: #fff;
            background-color: #4908AB;
            border: none;
        }
        .search_corpora{
            margin-left: 20px;
            margin-right: 20px;
        }
        </style>
        <div class="search_corpora">
        <p id="header"><span id="corpus_title">Фольклорный архив. Корпус
        <!--<span id="show_help" class="glyphicon glyphicon-question-sign" aria-hidden="true"><span class="tooltip_prompt">Помощь</span></span>-->
        </p>
        <div id="search_div" class="transitions init-hidden">
            <div class="show-hide">
            <div class="slide">
                <form id="search_main">
                <input type="hidden" name="n_words" id="n_words" value="1">
                <input type="hidden" name="random_seed" id="random_seed" value={{ random_seed }}>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="word_search_tab">
                            <div class="words_search">
                                <div class="word_search" id="first_word">
                                    <div class="word_search_l">
                                        <div class="query_word_header"><div class="circle circle_w1"></div>Слово 1</div>
                                        Словоформа: <input type="text" class="search_input" name="wf1" id="wf1"><br>
                                        Лемма: <input type="text" class="search_input" name="lex1" id="lex1"><br>
                                        <!--Грамматика: <input type="text" class="search_input gram_selector_input" name="gr1" id="gr1"><span class="gram_selector_link glyphicon glyphicon-edit" data-field="gr" data-nword="1"></span><br>-->
                                        <!--<input type="hidden" class="search_input" name="w_id1" id="w_id1">
                                        <hr class="separator">
                                        <div class="add_word_fields"></div>-->
                                    </div>
                                    <div class="word_search_r">
                                        <span class="word_plus glyphicon glyphicon-plus-sign" aria-label=">Добавить слово" aria-hidden="true"><span class="tooltip_prompt">Добавить слово</span></span><br>
                                        <span class="add_minus_stub"></span>
                                        <!--<span class="add_distance_stub"></span>-->
                                        <!--<input type="checkbox" class="hidden_input neg_query_checkbox" name="negq1" id="negq1" onclick="negative_query();">-->
                                    </div>
                                </div>
                            </div>
                            <br>
                            Полнотекстовый поиск: <input type="text" class="search_input" name="txt" id="txt"> <input type="checkbox" name="precise" id="precise"> Точное совпадение<br>
                        </div>
                    </div>
                <!-- </div> -->
                </form>
                <br>
                <div class="search_buttons">
                    <div class="btn-group">
                    <button type="button" class="btn btn-default btn-primary" aria-label="Искать" value="Искать" id="search_sent">Искать</button>
                    <!--<button type="button" class="btn btn-default btn-primary" aria-label="Искать слова" value="Искать слова" id="search_word" style="padding-right: 5px;">Искать слова</button>
                    <button type="button" class="btn btn-default btn-primary" aria-label="Искать леммы" value="Искать леммы" id="search_lemma" style="padding-left: 5px;">Искать леммы</button>-->
                    </div>
                    <!--<button type="button" class="btn btn-default btn-info" aria-label="Подкорпус" value="Подкорпус" id="search_doc"><span class="subcorpus_selector_link">Подкорпус</span></button>-->
                    <div class="btn-group">
                    <button type="button" class="btn btn-default" aria-label="поделиться параметрами поиска" value="поделиться параметрами поиска" id="share_query"><span class="glyphicon glyphicon-send"><span class="tooltip_prompt">поделиться параметрами поиска</span></span></button>
                    <button type="button" class="btn btn-default" aria-label="загрузить сохраненный запрос" value="загрузить сохраненный запрос" id="load_query"><span class="glyphicon glyphicon-download"><span class="tooltip_prompt">загрузить сохраненный запрос</span></span></button>
                    </div>
                </div>
            </div>
        <div class="hide_query_button" align="center"><a href="#" rel="toggle-slide"><img src="static/img/arrow_up.png" class="img-swap" /><span id="hide_query_caption">Назад к поиску</span></a></div>
        </div>
        </div>

        <div id="lower_part">
        <div id="res_p">
        <p style="font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;"> (Результаты) </p></div>
        <div class="progress" style="visibility: hidden">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ max_request_time }}"
          aria-valuemin="0" aria-valuemax="{{ max_request_time }}" style="width:100%">
            <span>Осталось<span id="progress_bar_seconds">{{ max_request_time }}</span></span>
          </div>
        </div>
        </div>


        <!-- Hidden elements -->
        <div id="analysis"></div>

        <div class="modal fade" id="gram_selector" tabindex="-1" role="dialog" aria-labelledby="gram_sel_header" aria-hidden="true" data-field="gr1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gram_sel_header">Grammar selection header</h4>
                    </div>
                    <div class="modal-body" id="gram_sel_body">
                    <p>Grammar selection body</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="help_dialogue" tabindex="-1" role="dialog" aria-labelledby="help_dialogue_header" aria-hidden="true" data-field="gr1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="help_dialogue_header">Помощь</h4>
                    </div>
                    <div class="modal-body" id="help_dialogue_body">
                    <p>The help text should be loaded here.</p>
                    </div>
                </div>
            </div>
        </div>

{#        {% include "tsa_blocks/query_share_load.html" %}#}
        <script src="https://d3js.org/d3.v4.min.js"></script>
{#        {% include "tsa_blocks/subcorpus_selection.html" %}#}
{#        {% include "tsa_blocks/word_stats.html" %}#}
        <script type='text/javascript' src='static/js/select_subcorpus.js'></script>
        </body>
        {% if media %}
            <script>
            $(function() {
                $('#res_p').css('width', 'calc(95vw - ' + $('#media_div').width().toString() + 'px)');
            });
            </script>
        {% endif %}
        </div>
    {% endblock %}
</html>