{% extends 'base.html' %}
{% block title %} Регистрация {% endblock %}
{% block content %}

<div style="margin: auto; width: 500px; margin-top: 50px;">
  <form action="{{prefix}}/signup", method="post">
    <label for="username">Логин</label>
    <input class="login-input" type="text" id="username" name="username" placeholder="avivanov">
    <label for="name">Имя</label>
    <input class="login-input" type="text" id="name" name="name" placeholder="Алексей Иванов">
    <label for="email">Электронная почта</label>
    <input class="login-input" type="text" id="email" name="email" placeholder="avivanov@yandex.ru">
    <label for="password">Пароль</label>
    <input class="login-input" type="text" id="password" name="password" placeholder="password">
  
    <input class="login-input" type="submit" value="Отправить">
  </form>
</div>

<div class="message"> {{message}}</div>

{% endblock %}