{% extends 'base.html' %}
{% block title %} Статистика {% endblock %}
{% block content %}

<style>

table{
  border-collapse: collapse;
  font-size: 16px;
}

table.large-table {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

th.large-th {
  background-color: #008000;
  color: white;
}

div.main{
	margin-left: 200px;
	margin-top: 22px;
	width: 67%
}
.text{
	font-size: 16px;
}
.labels{
	font-size: 25px;
	font-weight: bold;
}
th, td {
  text-align: left;
  padding: 8px;
}
</style>

	<table class="large-table">
		<th class="large-th">Количество</th>
		<th class="large-th">Регион</th>
		<th class="large-th">Район</th>
		<th class="large-th">Населенный пункт</th>
			{% for item in result['geostats'] %}
				<tr>
					<td>{{item.count}}</td>
					<td>{{item.region}}</td>
					<td>{{item.district}}</td>
					<td>{{item.village}}</td>
				</tr>
			{% endfor %}
	</table>

{% endblock %}