{% extends 'base.html' %}
{% block title %} Текст {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-meta-label">Характеристики текста</div>
                    <table>
                        <tr><td>Год</td><td>{{textdata.year}}</td></tr>
                        <tr><td>Собиратели</td><td>{{collectors}}</td></tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="text-meta-label">Место сбора данных</div>
                    <table>
                        <tr><td>{% if textdata.geo.region %}{{textdata.geo.region.name}}{% endif %}</td></tr>
                        <tr><td>{% if textdata.geo.district %}{{textdata.geo.district.name}}{% endif %}</td></tr>
                        <tr><td>{% if textdata.geo.village %}{{textdata.geo.village.name}}{% endif %}</td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="text-meta-label-bigger text-meta-label" style="">Информанты</div>
                {% for i in textdata.informators %}
                    <div class="row text-second-row">
                        <div class="col-md-6">
                            <div class="text-meta-label">Данные об инф.</div>
                            <table>
                                <tr><td>Код</td><td>{{i.code}}</td></tr>
                                <tr><td>Пол</td><td>{{i.gender}}</td></tr>
                                <tr><td>Год рождения</td><td>{% if i.birth_year %}{{i.birth_year}}{% endif %}</td></tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="text-meta-label">Место рождения</div>
                            <table>
                                <tr><td>{% if i.birth_region %}{{i.birth_region}}{% endif %}</td></tr>
                                <tr><td>{% if i.birth_district %}{{i.birth_district}}{% endif %}</td></tr>
                                <tr><td>{% if i.birth_village %}{{i.birth_village}}{% endif %}</td></tr>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="row text-second-row">
                    <div class="col-md-12">
                        <div class="text-meta-label">Опросник</div>
                        <table>
                            {% for question in textdata.questions %}
                                <tr >
                                    <td>{{question.question_list}} {{question.question_num}} {% if question.question_letter %}{{question.question_letter}}{% endif %} </td>
                                    <td class="text-quest-justify">{% if question.question_text %}{{question.question_text}}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-meta-label">Ключевые слова</div>
                    <div class="text-keywords">
                        {{ keywords }}
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="margin-bottom: 100px">
                    <div class="text-meta-label">Ссылка на текст:</div>
                    <div class="text-keywords">
                         ФА ВШЭ {{ textdata.id }}
                    </div>
                </div>
            </div>
        </div>
        <div class="text-id-label col-md-1">{{textdata.id}}</div>
        <div class="text-body col-md-7">
            {{pretty_text | safe}}
        </div>

    </div>
    <div class="row" style="margin: 50px auto;">
        <div class="text-video text col-md-12">
            {% for vid in textdata.video %}
                <iframe width="800" height="500" src="https://www.youtube.com/embed/{{vid.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
        </div>
        <div class="text-video text col-md-12">
            {% for aud in textdata.audio %}
                <iframe width="800" height="500" src="https://www.youtube.com/embed/{{aud.audio}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12 text container-fluid">
                {% for pic_batch in textdata.images|batch(3) %}
                    <div class="row">
                    {% for pic in pic_batch %}
                        <div class="clearfix col-md-4">
                            <a target="_blank" href="/static/gallery/{{pic.image_file}}" style="padding:10px">
                                <img class="img-responsive" src="/static/gallery/{{pic.image_file}}" height="100%" width="100%"/>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            {% if textdata.pdf%}
            <div class="row">
                <iframe src="/static/pdf/{{textdata.pdf}}" style="width: 100%; height: 100vh"></iframe>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}