{% extends 'base.html' %}
{% block title %} Текст {% endblock %}
{% block content %}
<style>
.meta-text{

}

table {border-collapse: collapse; border-radius: 4px;}
th, td {text-align: left; padding: 8px;}
tr:nth-child(even){background-color: #f2f2f2}
.text{margin: 30px 0px 100px 100px;}
.text-feature{background-color: #008000; color: white;}
.table-headers{font-weight: bold}
.left{margin-left: 100px;}
.right{margin-right: 100px;}
.text-body{ margin: 0px 0px 100px 100px; font-size: 16px}
.button { border: none; color: white; padding: 10px 10px; text-align: center; border-radius: 4px;
  text-decoration: none; display: inline-block; margin: 2px 2px; cursor: pointer; background: #800080 !important;
}
</style>
<p>
	<div>
		<table class="left">
			<tr>
				{% if current_user.is_authenticated %}
				<td>
					<a href="{{prefix}}/edit/{{textdata.id}}" class="button " target="_blank" style="background-color: #008000;">Редактировать</a>
				</td>
				{% endif %}
				<td>
					<a href="{{prefix}}/results?new_id={{textdata.id}}&download=Скачать" class="button " target="_blank" style="background-color: #008000;">Скачать</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="col-md-3 left">
	<table class="meta-text">
		<tr>
			<td class="text-feature">ID</td>
			<td>{{textdata.id}}</td>
		</tr>
		<tr>
			<td class="text-feature">Прежний ID</td>
			<td>{{textdata.old_id}}</td>
		</tr>
		<tr>
			<td class="text-feature">Год</td>
			<td>{{textdata.year}}</td>
		</tr>
		<tr>
			<td class="text-feature">Область</td>
			<td>{{textdata.region}}</td>
		</tr>
		<tr>
			<td class="text-feature">Район</td>
			<td>{{textdata.district}}</td>
		</tr>
		<tr>
			<td class="text-feature">Населенный пункт</td>
			<td>{{textdata.village}}</td>
		</tr>
		<tr>
			<td class="text-feature">Жанр</td>
			<td>
				{% if textdata.genre %}
					{{textdata.genre}}
				{% endif %}
			</td>
		</tr>
	</table>
	</div>
	<div class="col-md-7 right">
	<table class="meta-text">
			<tr>
				<td class="text-feature"> Собиратели </td>
				<td>{{collectors}}</td>
			</tr>
			<tr>
				<td class="text-feature"> Информанты </td>
				<td>
					<table>
						<tr class="table-headers">
							<td>ID</td>
            				<td>Код</td>
            				<td>Гендер</td>
            				<td>Год рождения</td>
            				<td>Регион</td>
            				<td>Район</td>
            				<td>Населенный пункт</td>
            				<td>Регион (рож.)</td>
            				<td>Район (рож.)</td>
            				<td>Населенный пункт (рож.)</td>
						</tr>
						{% for i in textdata.informators %}
						<tr>
            				<td>{{i.id}}</td>
            				<td>{{i.code}}</td>
            				<td>{{i.gender}}</td>
            				<td>{{i.birth_year}}</td>
            				<td>{{i.current_region}}</td>
            				<td>{{i.current_district}}</td>
            				<td>{{i.current_village}}</td>
            				<td>{{i.birth_region}}</td>
            				<td>{{i.birth_district}}</td>
            				<td>{{i.birth_village}}</td>
            			</tr>
            			{% endfor %}
					</table>
				</td>
			</tr>
			<tr>
				<td class="text-feature"> Ключевые слова </td>
				<td>{{keywords}}</td>
			</tr>
			<tr>
				<td class="text-feature"> Вопросы </td>
				<td>
					<i>
						<table>
							{% for question in textdata.questions %}
							<tr>
								<td>{{question.question_list}}</td>
								<td>{{question.question_num}}</td>
								<td>{{question.question_letter}}</td>
								<td>{{question.question_theme}}</td>
								<td>{{question.question_text}}</td>
							</tr>
							{% endfor %}
						</table>
					</i>
				</td>
			</tr>
	</table>
	</div>
	<div class="text-body text col-md-8" style="white-space: pre-line; text-align: justify;">
		{{pretty_text}}
	</div>
	<div class="text-video text col-md-8">
		{% for vid in textdata.video %}
			<iframe width="800" height="500" src="https://www.youtube.com/embed/{{vid.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		{% endfor %}
	</div>
	<div class="row">
		<div class="col-md-8 text container-fluid">
			{% for pic_batch in textdata.images|batch(3) %}
				<div class="row">
				{% for pic in pic_batch %}
					<div class="clearfix col-md-4">
						<a target="_blank" href="{{prefix}}/static/imgs/{{pic.imagename}}" style="padding:10px">
							<img class="img-responsive" src="{{prefix}}/static/imgs/{{pic.imagename}}" height="100%" width="100%"/>
						</a>
					</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

</p>

{% endblock %}