{% extends 'base.html' %}
{% block title %} Пользователь {% endblock %}
{% block content %}
<p>
	<form action="{{prefix}}/user" method="POST">
		<div class="submit col-md-10 left" style="margin-bottom: 10px; padding: 20px;">
    		<input class="save" type="submit" name="submit" style="float: left;" value="Сохранить">
  		</div>
	<div class="col-md-3 left">
	<table class="meta-text">
		<tr>
			<td class="text-feature">ID</td>
			<td><input type='text' id='id' name='id' value="{{current_user.id}}" readonly></td>
		</tr>
		<tr>
			<td class="text-feature">Имя</td>
			<td><input type='text' id='username' name='username' value="{{current_user.username}}" readonly></td>
		</tr>
		<tr>
			<td class="text-feature">Имя</td>
			<td><input type='text' id='name' name='name' value="{{current_user.name}}"></td>
		</tr>
		<tr>
			<td class="text-feature">E-mail</td>
			<td><input type='text' id='email' name='email' value="{{current_user.email}}"></td>
		</tr>
		<tr>
			<td class="text-feature">Пароль</td>
			<td><input type='text' id='password' name='password' value="***************"></td>
		</tr>
		</tr>
	</table>
	</div>
	</form>
</p>

{% endblock %}